block init
doctype html
html(lang="ja")
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    if title
        title #{title} | tobiuo
    else
        title tobiuo
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css")
    block head
body
    nav(class="navbar" role="navigation" aria-label="main navigation")
        div(class="container")
            div(class="navbar-brand")
                a(class="navbar-item" href="/") tobiuo
            div(class="navbar-end")
            if account
                p(class="navbar-item") #{account.name} (@#{account.screenName})
                a(class="navbar-item" href="/user/logout") logout
            else
                a(class="navbar-item" href="/user/login") login
    block content
script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
